.Navigation


  z-index: $zindex-navbar-fixed
  

  position: fixed
  top: 0
  bottom: 0
  left: 0

  display: block
  width: $navigation-width

  background-color: $navigation-bg
  +box-shadow(2px 0 0 0 rgba($secondary, 0.5))


.Navigation-helper
  position: fixed
  top: 50%
  left: 0

  width: $navigation-width

  +transform(translate(0, -50%))

.Navigation-item

  display: block
  width: 100%

  padding: 50% 0
  margin-bottom: rem(5px)


  text-align: center
  color: $navigation-link-color

  &:hover
    background-color: $navigation-hover-bg
    color: $navigation-hover-color
  .fa
    line-height: 0


