.Navigation
  z-index: $zindex-navbar
  -webkit-transform: translate3d(0,0,0) // prevents header blinking

  position: fixed
  top: $header-height - $navigation-height
  right: 0
  left: 0

  display: block
  height: $navigation-height
  padding: ($navigation-height - $navigation-item-height)/2 $gutter 0



  font-family: $navigation-font

.Navigation-helper
  @extend .Page-container

.Navigation-item
  color: $primary
  padding: rem(5px) 0

  &:hover,
  &:active,
  &:focus
    text-decoration: none

.Navigation-item

  display: inline-block

  text-align: center
  font-size: inherit
  line-height: rem($navigation-item-height - 10px)
  height: $navigation-item-height

  padding: rem(5px) rem(10px)
  border: 0

  margin: 0 rem(30px) 0 rem(0px)
  cursor: pointer

  .fa
    margin-right: rem(5px)


