.Navigation


  z-index: $zindex-navbar
  -webkit-transform: translate3d(0,0,0) // prevents header blinking

  position: fixed
  top: 0
  right: 0
  left: 0

  display: block
  height: $navigation-height
  padding: ($navigation-height - $navigation-item-height)/2 $gutter 0



  font-family: $navigation-font

  background-color: $navigation-bg
  //+box-shadow(2px 0 0 0 rgba($secondary, 0.5))


.Navigation-item:not(.btn)
  color: $navigation-link-color
  padding: rem(5px) 0

  &:hover,
  &:active,
  &:focus
    text-decoration: none

  &:not(.active):hover
    color: $navigation-hover-color
    border-bottom: 1px solid white(0.15)

  &:active,
  &:focus,
  &.active
    color: $navigation-active-color
    background-color: $navigation-active-bg

.Navigation-item

  display: inline-block

  text-align: center
  font-size: inherit
  line-height: rem($navigation-item-height - 10px)
  height: $navigation-item-height

  padding: rem(5px) rem(10px)
  border: 0

  margin: 0 rem(30px) 0 rem(0px)
  cursor: pointer

  .fa
    margin-right: rem(5px)


