.Page-header
  +fixed(0, 0, auto, 0)
  height: $header-height
  z-index: $zindex-header

  background-color: $background

  overflow: hidden

.Page-title
  +text
  +text2XL
  +text-bold
  text-transform: uppercase
  text-align: center

  margin: 0
  margin-top: -40px
  letter-spacing: -2px

  a
    text-decoration: none
    color: $primary

.Page-container
  margin: 0 auto
  display: block
  max-width: 1070px
  padding: 0 $gutter
