@import 'compass/css3/transition'
.Post
  display: block

  padding: $gutter 0

  position: relative
  overflow: hidden

  background-color: white
  border-bottom: 1px solid rgba($primary, 0.1)

.Post-date
  margin-right: rem(20px)

  
.Post-title
  +textXL
  +text-header
  text-transform: uppercase
  line-height: 1

  margin: 0
  
.Post-date,
.Post-title
  display: inline-block
  vertical-align: middle
  margin-bottom: 0
  
.Post-header
  text-align: center
  margin: $line-height-computed 0

$details-rotation: 30deg
$details-size: 150px
$details-vert-offset: 20px
$details-hori-offset: $details-size/2

.Post-actions
  opacity: 0
  +transition(opacity .5s ease-in)

  +textXS
  +text-sans

  a
    padding: rem(5px) rem(2px)
    color: lighten($primary, 30%)

.Post:hover .Post-actions
  opacity: 1



