a(  ui-sref='{{ config.sref || false }}'
    title='{{ config.name }}'
    ui-sref-active='active'
    ng-class='{ "Navigation-item-primary": config.primary }')

    span(class='icon-{{ config.icon }}' ng-if='config.icon')
    | {{ config.name }}