a(  ui-sref='{{ config.sref || false }}'
    title='{{ config.name }}'
    ui-sref-active='active'
    ng-class='{ "btn btn-xs btn-success": config.primary }')

    span(class='fa fa-{{ config.icon }}')
    | {{ config.name }}