article.Post
   header.Post-header
      post-date(date="post.attributes.created_at").Post-date
      h2.Post-title {{ post.attributes.title }}

      post-actions(post='post')

   post-content.Post-content(content="post.attributes.content")

