article
   h2 {{ atts.title }}
   aside {{ atts.created_at }}
   div(ng-bind-html="atts.content | rawHtml")
   a(ui-sref='bullet.writing.edit({ postID: atts._id })') edit
   a(ng-click='remove(post)') delete


