article.Post
   header.Post-header
      post-date(date="atts.created_at").Post-date
      h2.Post-title {{ atts.title }}

   section.Post-content(ng-bind-html="atts.content | rawHtml")

   footer.Post-details
      span.Post-details-icons
         a(ui-sref='bullet.writing.edit({ postID: atts._id })')
            i.fa.fa-edit
         a(ng-click='remove(post)')
            i.fa.fa-trash


