span.UiFormField(ng-switch='' on='type')
    div.field(ng-switch-when='text')
        input(type='{{ type }}' ng-model="$parent.model" placeholder="{{ label }}" ui-form-validation='{{ validates }}')

    div.field(ng-switch-when='textarea')
        textarea(ng-model='$parent.model' placeholder="{{ label }}" ui-form-validation='{{ validates }}')

    div.field(ng-switch-when='select' ui-form-validation='{{ validates }}')
        label(ng-if='label') {{ label }}

        .btn-group(dropdown='' on-toggle='toggled(open)')
            button.btn.btn-sm.btn-primary.dropdown-toggle(type='button' dropdown-toggle='')
                | {{ $parent.model  || 'Default' }}
                span.caret
            ul.dropdown-menu(role='menu')
                li(ng-repeat='option in options')
                    a(ng-click='toggle(option)') {{ option }}

            input(type='hidden' ng-model='$parent.model' ui-form-validation='{{ validates }}')
