ng-switch(on='type')
    div.field(ng-switch-when='text')
        label(ng-if='label') {{ label }}
        input(type='{{ type }}' ng-model='model')

    div.field(ng-switch-when='textarea')
        label(ng-if='label') {{ label }}
        textarea(ng-model='model')

    div.field(ng-switch-when='select')
        label(ng-if='label') {{ label }}
        div.ui.selection.dropdown
            div.default-text Hi!
            input(type='hidden' ng-model='model')
            i.dropdown-icon
            div.menu
                div.item(data-value='option' ng-repeat='option in options')
                    | {{ option }}