$primary: #fff
$secondary: #1f2228

$font-family-serif: 'Merriweather', serif
$font-family-sans-serif: 'Verdana'

$font-family-base: $font-family-serif

$navigation-width: 50px
$navigation-link-color: $primary
$navigation-hover-color: lighten($primary, 10%)
$navigation-active-color: lighten($primary, 10%)
$navigation-bg: $secondary
$navigation-hover-bg: lighten($secondary, 5%)
$navigation-active-bg: lighten($secondary, 5%)



@function rem($size)
  @return #{$size/$font-size-base}rem