h1 add new post
form(   name='newPostForm'
        ng-submit='onSubmit(newPostForm.$valid, post)'
        novalidate )

    ui-form-field(type='select' model='post.type' label='Type' options='["regular", "daily"]')
    ui-form-field(type='text' label='Post title' model='post.title')
    ui-form-field(type='textarea' label='Content' ng-model='post.original_content')
    button(type='submit') submit
