nav.Navigation
    .Navigation-helper
        navigation-item.Navigation-item(
            title='{{ item.name }}'
            state='{{ item.sref }}'
            icon='{{ item.icon }}'
            ng-repeat='item in items track by $id(item)'
        )