h1 add new post
form(   name='newPostForm'
        ng-submit='ctrl.onSubmit(newPostForm.$valid, ctrl.vm.post.attributes)'
        novalidate )

    ui-form-field(type='select' model='ctrl.vm.post.attributes.type' label='Type' options='["regular", "daily"]')
    ui-form-field(type='text' label='Post title' model='ctrl.vm.post.attributes.title')
    ui-form-field(type='textarea' model='ctrl.vm.post.attributes.original_content')
    button(type='submit') submit
