h1 add new post
form(   name='newPostForm'
        ng-submit='onSubmit(newPostForm.$valid, post)'
        novalidate )

    ui-form-field(type='select' model='post' field='type' label='Type' options='["regular", "daily"]')
    ui-form-field(type='text' label='Post title' model='post' field='title')
    ui-form-field(type='textarea' model='post' field='original_content')
    button(type='submit') submit
